[submodule "back-end"]
	path = back-end
	url = https://github.com/vinayjawadagi/bug-tracking-system-back-end.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/vinayjawadagi/bug-tracking-system-front-end.git
